<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <h1 class="fw-bold cursor-pointer" (click)="redirectToHome()">ShopPee</h1>
      </div>
      <div class="col-lg-8 d-flex justify-content-end">
        <div class="cart-hover" (click)="redirectToCart()">
          <img src="assets/img/cart-icon.png" alt="cart">
          <span class="cnt crl-bg">0</span>
        </div>
      </div>
    </div>
  </div>
</header>
<section  id="product">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
